.ipWidget-Image.floatWidget {
    width: 50%;
}
.ipWidget-Image.floatWidget img {
    max-width: 100%;
}
.ipWidget-Image.floatWidget + .ipWidget-Text:before{
    display: none;
}
.ipWidget-Image.floatWidget.float-right {
    margin: 0 0 15px 15px;
    float: right;
}
.ipWidget-Image.floatWidget.float-left{
    margin: 0 15px 0 15px;
    float: left;
}
.ipHasAdminPanel .ipWidget-Image.floatWidget{
    margin-top: 15px;
}
.ipsFloatImagePlaceholder {
    background-color: transparent;
    z-index: 1;
}
.floatImagePlaceholder ._marker {
    height: 100%;
    width: 100%;
}
.floatImagePlaceholder._hover ._marker {
    background: #7ecefd;
    display: block;
    outline: #019bd4 solid 1px;
}